Layout: blog-layout
Template: blog-template

#heading
  %h3
    Welcome home, futur me.
  %p  
    Make yourself comfortable, here is every piece of work, reflexion, hack, I -me from the past- did for you, carefully reported with love and compassion :)