#container
  %header
    #header-content
      #logo
        - @heading.split.each do |word|
          .title= word
      = haml :social, :layout => false
      = haml :valid, :layout => false
  #content
    //= haml :nav, :layout => false
    //%section.articles= article_summaries(latest_articles)
    //= haml :categories, :layout => false
    
    #about-me
      Still under construction.
    
    .categories
      %a#blog.categorie{ :href => "blog"}
        %h1 Blog
          
      %a#resume.categorie{ :href => "resume"}
        %h1 Resume
        
      %a#portfolio.categorie{ :href => "portfolio"}
        %h1 Portfolio
        
      %a#unify.categorie{ :href => "unify"}
        %h1 Unify Project
  %footer
    %p
      Etienne Brodu © 2012
    %p
      Using
      %a{ :href => "http://nestacms.com"} Nesta