# Linked Project

Since a few years ago, I started to spot interesting projects or article on the web, or similar to my thought.
I will say a few word here about each I remember.

*This article is still under construction*

## Node.js

Ok, we got the same name, however, the concept is very different think.
I don't want the developer or the user to bother about information transfer, and make them think every bit is local.
Node is the opposite, it let the developer manage every transaction.

## Display, Storage & Network

I remember about an article I read a few months (years ?) ago about the new mobile devices against old personal computer, and this three characteristic to understand about distributed computing.
I, unfortunately, don't remember any title or link to this article.

## ifttt

ifttt is a system that let you program action on specific trigger.
In a certain way, it's similar to the linking system I thought about.
Because every bit of data will be local, or very accessible, you can put trigger on them, like you put scripts on OS actions.