# Linked Project

Since a few years ago, I started to spot interesting projects or article on the web, or similar to my thought.
I will say a few word here about each I remember.

*This article is still under construction*

## Node.js

Ok, we got the same name, however, the concept is very different think.
I don't want the developer or the user to bother about information transfer, and make them think every bit is local.
Node is the opposite, it let the developer manage every transaction.