Layout : resume-layout
Template : resume-template

#heading
  #content
    #horizontal
      %h1
        Competences
      %section
        %h2
          Languages
        %ul
          %li C / C++
          %li UML
          %li Java
          %li Python
      %section
        %h2
          Web
        %ul
          %li HTML5
          %li CSS3
          %li JavaScript
          %li Ruby on Rails
      %section
        %h2
          Tools
        %ul
          %li Git
          %li Zsh
          %li LaTeS
      %section
        %h2
          Adobe
        %ul
          %li Photoshop
          %li Illustrator
          %li InDesign
          %li Premiere
          
    #intro
      Hi, my name is Etienne Brodu, I’m a developer & designer.
    %p.left
      I grow ideas, and I love that. To plant germs in my brain and feed them with my imagination, cut sterile branches and cherish good ones, make them blossom.
    %p.right
      I could never stop thinking, even if I tried.
      I’m adaptable, accurate, inventive & proactive.
      And I’d love to contribute building the world we will live in.
#personal
  #content
    #information
      %section
        %ul.left
          %li Etienne
          %li Brodu
      %section
        %ul.right
          %li Software developer
          %li UI / UX designer
          %li Idea grower
          
  #content
#footer
  #content
    #information
      %section
        %ul.left
          %li etn-brd.com
          %li etienne.brodu@insa-lyon.fr
          %li +33 (0) 6 19 65 05 14
      %section
        %ul.right
          %li French (native)
          %li English (fluent)
          %li German (beginner)
        
    #vertical
      %section
        #date May - August 2011
        %h2 Philips HC
        #summary
          Improvement of a collision avoidance system in an embedded medical system.
        #techno
          C++ + intel VTune
      %section
        #date May - August 2011
        %h2 Philips HC
        #summary
          Improvement of a collision avoidance system in an embedded medical system.
        #techno
          C++ + intel VTune
    #vertical
      %section
        #date May - August 2011
        %h2 Philips HC
        #summary
          Improvement of a collision avoidance system in an embedded medical system.
        #techno
          C++ + intel VTune
      %section
        #date May - August 2011
        %h2 Philips HC
        #summary
          Improvement of a collision avoidance system in an embedded medical system.
        #techno
          C++ + intel VTune
    #vertical
      %section
        #date May - August 2011
        %h2 Philips HC
        #summary
          Improvement of a collision avoidance system in an embedded medical system.
        #techno
          C++ + intel VTune
      %section
        #date May - August 2011
        %h2 Philips HC
        #summary
          Improvement of a collision avoidance system in an embedded medical system.
        #techno
          C++ + intel VTune