Layout : resume-layout
Template : resume-template

%span.hidden
  %h1 Resume - Etienne Brodu

#heading
  #content
    #horizontal
      %h1
        Competences
      %section
        %h2
          Languages
        %ul
          %li C / C++
          %li UML
          %li Java
          %li Python
      %section
        %h2
          Web
        %ul
          %li HTML5
          %li CSS3
          %li JavaScript
          %li Ruby on Rails
      %section
        %h2
          Tools
        %ul
          %li Git
          %li Zsh
          %li LaTeX
      %section
        %h2
          Adobe
        %ul
          %li Photoshop
          %li Illustrator
          %li InDesign
          %li Premiere
          
    #intro
      Hi, my name is Etienne Brodu, I’m a developer & designer.
    %p.left
      I grow ideas, and I love that. To plant germs in my brain and feed them with my imagination, cut sterile branches and cherish good ones, make them blossom.
    %p.right
      I could never stop thinking, even if I tried.
      %br
      I’m adaptable, accurate, inventive & proactive.
      And I’d love to contribute building the world we will live in.
#personal
  #content
    #information
      %section
        %ul.left.name
          %li Etienne
          %li Brodu
      %section
        %ul.right
          %li
            %span.bold Software
            developer
          %li
            %span.bold UI / UX
            designer
          %li
          %span.bold Idea
          grower
          
  #content
#footer
  #content
    #information
      %section
        %ul.left
          %li etn-brd.com
          %li etienne.brodu@insa-lyon.fr
          %li +33 (0) 6 19 65 05 14
      %section
        %ul.right
          %li French (native)
          %li English (fluent)
          %li German (beginner)
    
    #logo
      #text
        etn
        %br
        brd
    #vertical
      %h1 Highlighted Work Experiences
      %section
        #date
          May - August 
          %span.bold 2011
        %h2 Philips HC
        #summary
          Improvement of a collision avoidance system in an embedded medical system.
        #techno
          %span.bold C++
          +
          %span.bold intel VTune
      %section
        #date
          June - August
          %span.bold 2010
        %h2 CITI - INRIA
        #summary
          Adaptation of an OSGi modification to dalvik : remote class loading.
        #techno
          %span.bold C++
          +
          %span.bold intel VTune
      %section
        #date
          February
          %span.bold 2008
        %h2 CITI - INRIA
        #summary
          Adaptation of an OSGi modification to dalvik : remote class loading.
        #techno
          %span.bold HTML
          +
          %span.bold CSS
          +
          %span.bold JavaScript
          
    #vertical
      %h1 Personnal Projects
      %section
        %h2 Distributed OS
        #summary
          I always have been thinking of an OS distributed on many platform. As a remplacement for multiple interfaces on multiple devices.
        #techno
          %span.bold C++
          +
          %span.bold Boost
      %section
        #date
          Sometimes
        %h2 CMS Deployment
        #summary
          I like to test new stuffs, it keeps up my creativity. From time to time I test some new CMS.
        #techno
          %span.bold PHP
          +
          %span.bold Ruby on Rails
      %section
        #date
          Sometimes
        %h2 HTML5 & CSS 3
        #summary
          Few experiments in HTML5 & CSS3, for me to stay tuned, and concretizes some ideas.
        #techno
          %span.bold HTML5
          +
          %span.bold CSS 3
          +
          %span.bold JS
          +
          %span.bold WebGL
          
    #vertical
      %section
        %h2 Education
        #education
          #date
            %span.bold 2007
            \-
            %span.bold 2012
          #summary
            Master of Engineering in Computer Sciences and Information Technology.
          #school
            National Institute of Applied Sciences (INSA) of Lyon, France
        #education
          #date
            First semester
            %span.bold 2011
            \-
            %span.bold 2012
          #summary
            Master of Interaction Design & Technologies.
          #school
            Chalmers University of Technology, Gothenburg, Sweden
      %section
        %h2 Interests
        #interest
          Graphic Design, Information visualization, Video Games
        #interest
          %h3 Travel
          4 months in Netherlands
          %br
          4 months in Sweden
        #interest
          %h3 Sport
          climbing, running, snowboard, longbard