@import url(http://fonts.googleapis.com/css?family=Titan+One|Open+Sans:400,700,600,400italic|Lilita+One|Arvo:700)

/// Variables

$base : rgb(6, 108, 126)
$base-light : rgba(59, 175, 220, 0.2)
$base-extra-light : rgb(206, 233, 237)
$comp : rgb(239, 123, 89)
$dark : #222
$light : rgb(240, 240, 240)
$light-title : rgba(240, 240, 240, 0.4)

$nav-light : rgb(150, 150, 150)
$nav-dark : rgb(120, 120, 120)
$nav-text : rgb(220, 220, 220)

$offset : #202020

/// Mixin

@mixin transition($duration, $properties)
  transition-property : $properties
  transition-duration : $duration
  -moz-transition-property : $properties
  -moz-transition-duration : $duration
  -webkit-transition-property : $properties
  -webkit-transition-duration : $duration
  -o-transition-property : $properties
  -o-transition-duration : $duration
  
@mixin transform($properties)
  transform : $properties
  -moz-transform : $properties
  -webkit-transform : $properties
  -o-transform : $properties

@mixin transform-origin($properties)
  transform-origin : $properties
  -moz-transform-origin : $properties
  -webkit-transform-origin : $properties
  -o-transform-origin : $properties
  
@mixin background-linear-gradient($properties)
  background-image : linear-gradient($properties)
  background-image : -moz-linear-gradient($properties)
  background-image : -webkit-linear-gradient($properties)
  background-image : -o-linear-gradient($properties)
  
@mixin column-count($properties)
  column-count : $properties
  -moz-column-count : $properties
  -webkit-column-count : $properties
  
@mixin column-gap($properties)
  column-gap : $properties
  -moz-column-gap : $properties
  -webkit-column-gap : $properties
  
@mixin column-rule($properties)
  column-rule : $properties
  -moz-column-rule : $properties
  -webkit-column-rule : $properties
  
  
/// Main

html, body
  height : 100%
  padding : 0
  margin : 0

#container
  font-size : 10pt
  font-family : 'Open+Sans', sans-serif
  
  color : $dark
  background : $light
  
  position : relative
  min-height : 100%

a
  color : $dark
  text-decoration : none
  &:visited
    color : $dark
  &:hover
    color : $comp
  
header
  background-color : $base
  @include background-linear-gradient((-45deg, transparent 21.875%, $base-light 21.875%, $base-light 28.125%, transparent 28.125%, transparent 71.875%, $base-light 71.875%, $base-light 78.125%, transparent 78.125%, transparent))
  background-size : 12px 12px
  background-clip : border-box
  
  border-top : 1px solid $base - $offset
  border-bottom : 90px solid $base-light
  
  height : 130px
  position : relative
  top : 0px
  
  margin-bottom : 80px

  #header-content
    max-width : 720px
    margin : auto

    #logo
      background : url('/etn-theme/png/logo.png')
      margin : auto
      width : 373px
      height : 253px
      position : relative
      top : 70px

      .title
        color : $light
        font-family : 'Titan One', cursive
        font-size : 25pt
        text-align : center
        //text-shadow : -1px -1px $comp + #404040, 1px 1px $comp - #404040

        position : relative
        top : 120px

    #social
      float : right
      position : relative
      top : -70px
      
      a
        opacity : 0.2
        &:hover
          opacity : 0.5
          
    #valid
      float : left
      position : relative
      top : -70px
      
      a
        opacity : 0.2
        &:hover
          opacity : 0.5  
    

nav 

  color : $nav-text
  font-weight : 900
  text-shadow : 1px -1px $nav-dark, -1px -1px $nav-dark, -1px 1px $nav-dark, 1px 1px $nav-dark
  padding : 0.5em 0.5em 0 0.5em
  height : 8px
  background : $nav-light
  border : 1px solid $nav-dark
  border-bottom : 10px solid $nav-dark
  
  & *
    display : inline
  
  .bc-link
    background : no-repeat right url('/etn-theme/png/breadcrumb.png')
    padding : 0.5em 1em 0.3em 0.5em
    
    position : relative
    top : -1px

    &:first-child
      padding-left : 0.5em
  
    &:last-child
      padding-right : 0.5em
      background-image : none
      
    a
      color : $nav-text

    &:visited
      color : $nav-text

#content
  max-width : 720px
  margin-right : auto
  margin-left : auto
  padding-bottom : 200px
  
.categories
  
  .categorie
    width : 180px
    float : left
    border-bottom : 5px solid $light - $offset*0.2

    
    &:hover
      border-bottom-color : $base
      
    &:hover h1
      color : $light
      background : $comp

      
    h1
      position : relative
      top : 5px
      padding : 0.5em
      font-size : 1em
      

article

  color : $dark

  section
    @include column-count(3)
    @include column-gap(3em)
    @include column-rule(1px solid $light - $offset*0.5)
    border-bottom : 4px dotted $light - $offset*0.5
    padding-bottom : 4em
    margin-bottom : 4em
    
    &:last-of-type
      margin-bottom : 0
      border-bottom : none

  p, ul
    //text-align : justify
    line-height : 1.7em
    letter-spacing : 0.05em
    
    &:first-letter
      text-transform : capitalize

  h1, h2, h3
    color : $light - $offset -$offset

  h1
    color : #EEE
    text-shadow : 1px -1px $comp, -1px -1px $comp, -1px 1px $comp, 1px 1px $comp
    font-family : 'Arvo', serif
    padding : 0.5em 0.5em 0 0.5em
    height : 15px
    border-bottom : 0.5em solid $comp

  h2
    font-family : 'Arvo', serif
    border-bottom : 2px $comp solid
    font-weight : 100
    
  h3
    font-size : 10pt
    border-bottom : 1px solid $light - $offset - $offset

footer

  background : #DDD
  
  border-top : 1px solid #CCC
  border-bottom : 5px solid $base
  
  position : absolute
  bottom : 0
  
  width : 100%
  height : 100px
  
  padding : 2em 0
  
  text-align : center
  font-size : 9pt



#container.not_found
  background : url('/etn-theme/png/nyan-bg.gif') rgb(0, 51, 102)
  text-align : center

#content.not_found
  max-width : 100%
  padding-top : 40px
  
#tail.not_found  
  background : url('/etn-theme/png/nyan-tail.gif') repeat-x
  height : 222px
  width : 50%
  position : relative
  top : 110px

#cat.not_found
  position : relative
  margin-bottom : -250px
  bottom : 250px

h1.not_found
  color : white
  font-size : 30pt