#container.not_found
  = haml :header, :layout => false
  #content.not_found
    %h1.not_found Page not found
    %img{ :src => "/etn-theme/png/nyan.gif", :alt => "Page not found" }
  = haml :footer, :layout => false