#content
  %nav
    .bc-link
      %a{ :href => "/" } Home
    .bc-link
      %a{ :href => "/" } Home
    - if @page.heading
      .bc-link
        = @page.heading
  %article  
    ~ @page.to_html(self)

