@import url(http://fonts.googleapis.com/css?family=Norican|Open+Sans)

$base : rgb(6, 108, 126)
$base-light : rgb(26, 128, 146)
$comp : rgb(239, 123, 89)

@mixin transform($properties)
  transform : $properties
  -moz-transform : $properties
  -webkit-transform : $properties
  -o-transform : $properties

@mixin transform-origin($properties)
  transform-origin : $properties
  -moz-transform-origin : $properties
  -webkit-transform-origin : $properties
  -o-transform-origin : $properties

html, body
  font-family: 'Open Sans', sans-serif
  margin : 0
  padding : 0

.hidden
  display : none

.bold
  font-weight : bold

.name
  font-size : 25pt
  line-height : 23pt

#container
  margin : auto

#heading
  background : $base
  color : white

  #content
    width : 720px
    margin : auto
    margin-top : -30px
    padding-bottom : 30px
  
    #horizontal
    
      margin-bottom : 40px
  
      h1
        position : relative
        opacity : 0.2
        font-family : 'Norican', cursive
        font-weight : normal
        font-size : 32pt
        line-height : 0
        text-align : right
        @include transform(rotate(-90deg))
        top : 370px
        left : -350px
        
      h2
        font-family : 'Norican', cursive
        font-weight : normal
        line-height : 0
        text-align : right
        margin-right : 30px
  
      section
        display : inline-block
        width : 175px
        vertical-align : top
        
        ul
        
          border-right : 1px white solid
          margin-right : 20px
          padding-right : 5px
          position : relative
          right : 30px
                      
          li
            list-style-type : none
            text-align : right
            
    #intro
      font-size : 16pt
      padding-left : 40px
    
    .left
      display : inline-block
      width : 357px
      
    .right
      display : inline-block
      text-align : right
      width : 350px  
#personal
  background : $base-light
  color : white
    
  #content
    width : 720px
    margin : auto

  
    section
      vertical-align : top
      margin-top : -15px
      margin-bottom : -15px
      width : 357px
      display : inline-block
      vertical-align : top
  
    ul
      position : relative
      top : 5px
      
      li
        list-style-type : none
  
    ul.left
      margin-top : 17px
      
      li
        position : relative
        left : -40px
    
    ul.right
      text-align : right

#footer
  #content
    width : 720px
    margin : auto

    #information
      
      margin-top : 20px
      margin-bottom : 50px
      
      section
        width : 357px
        display : inline-block
        vertical-align : top

      ul
        li
          list-style-type : none

      ul.left
        li
          position : relative
          left : -40px
  
      ul.right
        text-align : right
    
    #logo
      background : url('/etn-theme/png/logo.png') center no-repeat
      width : 373px
      height : 253px
      margin : auto
      margin-bottom : -253px
      
      position : relative
      top : -321px
      
      #text
        font-family : 'Norican', cursive
        text-align : center
        font-size : 32pt
        color : white
        line-height : 30pt
        
        position : relative
        top : 120px
        
    #vertical
      width : 30%
      display : inline-block
      border-right : 1px solid black
      vertical-align : top
      margin-bottom : 50px
      padding : 0 10px
      
      font-size : 10pt
      
      &:last-of-type
        border-right : none
        padding-right : 0
        
      &:first-of-type
        padding-left : 0
      
      h1
        font-weight : normal
        font-size : 23pt
        margin-top : -10px
        
      
      section
        border-bottom : 1px dotted black
        padding : 20px 0
        
        &:first-of-type
          padding-top : 0
        
        &:last-of-type
          border-bottom : none
        
        h2
          color : $comp
          margin-top : -4px
        
        h3
          margin-bottom : 0
        
        #date, #techno
          text-align : right
          
        #education
          margin-bottom : 20px
          
          &:last-of-type
            margin-bottom : 0
        

