#social
  %a{ :href => "https://github.com/gravitezero"}
    %img{ :src => "/etn-theme/png/git.png", :alt => "GitHub" }
  %a{ :href => "mailto:etienne.brodu_at_insa-lyon.fr"}
    %img{ :src => "/etn-theme/png/mail.png", :alt => "Mail" }
  %a{ :href => "https://twitter.com/#!/gravitezero"}
    %img{ :src => "/etn-theme/png/twitter.png", :alt => "Twitter" }
  %a{ :href => "https://www.facebook.com/etnbrd"}
    %img{ :src => "/etn-theme/png/Facebook.png", :alt => "Facebook" }