#valid
  %a{ :href => "http://validator.w3.org/check?uri=http%3A%2F%2Fetn.heroku.com%2Fnode"}
    %img{ :src => "/etn-theme/png/html.png", :alt => "HTML5" }
  %a{ :href => "http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fetn.heroku.com%2Fcss%2Fmaster.css&profile=css3"}
    %img{ :src => "/etn-theme/png/css.png", :alt => "CSS3" }